{
  "extends": "airbnb",
  "root": true,
  "rules": {
    "comma-dangle": 0,
    "no-prototype-builtins": 0,
    "no-await-in-loop": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": 0,
    "import/prefer-default-export": 0
  },
  "env": {
    "browser": true,
    "jest": true
  }
}
